body, html{
  overflow-x: hidden;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 10pt;
  color: gray;
}
/* MUDANÇAS ROBERTA*/
.paragrafo-padrao{
  font-size: 10pt;
}

/* centered columns styles */
.row-centered {
text-align:center;
}
.col-centered {
display:inline-block;
float:none;
/* reset the text-align */
text-align:left;
/* inline-block space fix */
margin-right:-4px;
}

.titulo-padrao, .title-pink-begin-text{
  font-size: 12pt;
}

table {
    font-size: 10pt;
}

.titulo-14pt{
  font-size: 14pt;
}

.titulo-15pt{
  font-size: 15pt;
}

.icone-missao{
  width: 65%;
  margin: 0  auto;
  display: block;
  margin-bottom: 25px;
}

a:focus, a:hover {
    color: rgba(239, 64, 96, 1);
    text-decoration: underline;
}

.margin-top{
  margin-top: 70px;
}

.margin-min-top{
  margin-top: 25px;
}

.gray-background{
  background: #e5e5e5;
}

.gray-text-ecole{
  color: #e8e8e8;
}

.padding-20{
  padding: 20px;
}

.padding-50{
  padding: 50px;
}

.background-ecole-pink{
  background-color:rgba(239, 64, 96, 1);
}

.padding-bottom{
  padding-bottom: 60px;
}

.raleway{
  font-family: Raleway;
}

.no-padding-margin{
  padding: 0; margin: 0;
}

.box-ecole{
  min-height: 170px;
  background-color: rgba(239, 64, 96, 1);
  width: 85%;
  padding-top: 30px;
  margin: 0  auto;
}

.box-ecole img{
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.box-ecole label, .box-ecole a, .box-ecole a:hover{
  text-align: center;
  color: white;
  display: block;
}

.gray-dark-color{
  color: #5f6061;
}

.font-size-title{
  font-size: 12pt;
}

.gray-dark-background{
  color: #5f6061;
}

.no-text-decoration{
  text-decoration: none;
}




/* MUDANÇAS ROBERTA*/

.btn-primary {
    color: #fff;
    background-color: #ef4060;
    border-color: #ef4060;
}
.btn-primary:hover {
    color: #fff;
    background-color: #ef4060;
    border-color: #ef4060;
}

.has-errors input{
  border: 2px solid color: #a94442;
}

.nav-tabs.background-blue {
    padding-top: 6px;
    background-color: #f3869a;
    border: 1px solid #cb3652;
}

.title-pink-begin-text,
.days-agenda,
.descricao-day-agenda{
    color:rgba(239, 64, 96, 1);
    font-weight: bold;
    font-style: normal;
}

.days-agenda, .descricao-day-agenda{
    text-decoration: underline;
    font-style: normal;
    font-size: 20pt;
}

.descricao-day-agenda{
  text-decoration: none;
  font-size: 17pt;
}

.upper-case{
  text-transform: uppercase;
}

.box-depoimento{
  width: 100%;
  padding: 15px;
  background-color: #f5f5f5;
}

.box-depoimento .row{
  padding:15px;
}

.form-control:focus, .form-control:active {
    border-color: #ee758b;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(239, 64, 96);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(239, 68, 99, .6);
}

.box-depoimento p{
  color:#9b9b9b;
  display: block;
  margin-left: 15px;
  margin-right: 15px;
}

.box-depoimento label{
  width: 100%;
  display: block;
  text-align: center;
}

.box-depoimento img{
  display: block;
  margin: 0 auto;
  width: 20%;
}

.gray-text{
  color: gray;
}

.carousel-control.left ,.carousel-control.right {
    background-image:none;
    filter: none;
}

.navbar {
    border-radius: 0px;
    padding-top: 45px;
}

.gray-text-bold{
  color: gray;
  font-weight: bold;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: rgba(239, 64, 96, 1);
}

.navbar-default .navbar-toggle {
    border-color: rgba(239, 64, 96, 1);
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
    font-weight: bold;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background-color: rgba(239, 64, 96, 1);
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    /*max-height: 40px;*/
}

.navbar .navbar-collapse {
    text-align: center;
}

.dropdown-menu {
    background-color: rgba(239, 64, 96, 1);
    color: white;
    margin-left: 20px;
    font-weight: bold;
}

.dropdown-menu>li>a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: rgba(239, 64, 96, 1);
}

h6.title-cursos{
  font-size: 11pt;
}

.navbar-default {
    background-color: rgba(239, 64, 96, 1);
    border-color: rgba(239, 64, 96, 1);
    color: white;
    font-weight: bold;
    margin-bottom: 0px;
}

ul {
  list-style-type: none;
  color:white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #e7e7e7;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-weight: bold;
}


.navbar-nav>li {
    min-height: 65px;
    vertical-align: middle;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
    max-height: 45px;
    vertical-align: middle;
    font-weight: bold;
    font-size:8pt;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: white;
    font-weight: bold;
    border-bottom: 2px solid white;
    background-color: transparent;
}


.dropdown-menu {
  font-size: 9pt;
  /*text-transform: uppercase;*/
}

.header-page{
  background: rgba(14, 14, 14, 0.4);
  margin: 0;
  padding: 0;
  height: 390px;
  position: absolute;
  display: table;
  width: 102%;
}

.header-page-content{
    margin: 0;
    padding: 0;
    height: 390px;
    background-size: cover;
}

.header-page p{
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  font-size: 24pt;
  color: #e8e8e8;
  font-weight: bold;
}

/*footer*/
.title-footer{
    font-weight: bold;
}

.full {
    width: 100%;
}
.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}
.footer {
  background: #58595b;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
}
.footer p {
  margin: 0;
}
.footer img {
  max-width: 100%;
}
.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  text-transform: uppercase;
}
.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: white;
}
.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}
.footer a {
  color: white
}
.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
  background: #FFFFFF;
  display: inline-block;
  float: left;
  height: 30px;
  clear: both;
  width: 100%;
  padding: 10px;
  background: rgba(239, 64, 96, 1);
}
.newsletter-box .btn {
  border: medium none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  height: 40px;
  padding: 0;
  width: 100%;
  color: #fff;
  background: rgba(239, 64, 96, 1);
}

.video-index{
    margin: 0;
    padding: 0;
    border: none;
    margin-top: -1px;
    border-radius: 0px;
}

.newsletter-box {
  overflow: hidden;
}

.newsletter-box input{
  padding: 5px;
  margin-bottom: 5px;
  color: black;
}

a {
    color: rgba(239, 64, 96, 1);
    text-decoration: none;
}

a:hover {
    color: rgba(239, 64, 96, 1);
    /*text-decoration: none;*/
}

.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
  background: none repeat scroll 0 0 #B5B5B5;
  border: 2px solid #B5B5B5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
  color: #EDEFF1;
}
.social li:hover {
  border: 2px solid #2c3e50;
  background: #2c3e50;
}
.social li a i {
  font-size: 16px;
  margin: 0 0 0 5px;
  color: #EDEFF1 !important;
}
.footer-bottom {
  background: #58595b;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-bottom p.pull-left {
  padding-top: 6px;
}
.payments {
  font-size: 2em;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}

.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

.manifesto{
    position: absolute;
    font-size: 14pt;
    margin:0;
    padding: 25px;
    padding-right: 90px;
    padding-left: 90px;
    color: white;
    height: 100%;
    text-align: justify;
}

.manifesto label{
    font-size:21pt;
    text-align:center;
    display: inherit;
}

.manifesto_mobile{
    position: absolute;
    font-size: 11pt;
    margin:0;
    padding: 15px;
    color: white;
    height: 100%;
    text-align: justify;
}

.manifesto_mobile label{
    font-size:14pt;
    text-align:center;
    display: inherit;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
#loading-background{
    background-color: rgba(239, 64, 96, 1);
    padding-bottom: 150px;
    padding-top: 150px;
}
#loading-admin-application-only {
   -webkit-animation: flickerAnimation 1.5s infinite;
   -moz-animation: flickerAnimation 1.5s infinite;
   -o-animation: flickerAnimation 1.5s infinite;
    animation: flickerAnimation 1.5s infinite;
}
@media screen and (min-width: 768px) {
  .dropdown-menu,
  .dropdown-menu>li>a {
      background-color: #f4f4f4;
      border-radius: 0;
      color: #5f6061;
      border: none;
      box-shadow: none;
      opacity: .83;
  }

  .navbar a:hover{
    text-decoration: none;
    color:#ed3656;
  }

  .link-cursos-menu:hover,
  .dropdown-menu>li>a:focus,
  .dropdown-menu>li>a:hover,{
     color:#ed3656;
    text-decoration: none;
    background-color: #f4f4f4;
  }

  .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
      color: #ed3656;
      text-decoration: none;
      background-color: #f4f4f4;
  }
}

@media screen and (max-width: 768px) {
  .navbar-brand {
    margin-bottom: 15px;
  }

  .header-page{
    margin-top: -390px;
    width: 100%;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: white;
      text-align: center;
      font-size: 12pt;
      margin-bottom: 5px;
      padding: 0;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:first-child {
      margin-bottom: 25px;
  }

  .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      margin-left: 0;
      padding: 0;
      font-size: 10pt;
  }
}

.header-page-content{
  background-size: cover;
}